* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f00e0e; */
    font-family: "Poppins", serif;
    /* width: 912px; */
    width: 100%;
    
}

a {
    text-decoration: none;
}

button {
    background-color: #000000; 
    color: #FEFEFE;
    text-transform: uppercase;
    cursor: pointer;
}

/* header section */

.header {
    padding: 0px 7.413%;
    margin-top: 46px;
    display: flex;
    width: 100%;
    height: 62px;
    justify-content: space-between;
    align-items: center;

}

.nav-logo {
    display: flex; 

}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    text-transform: uppercase;
}

.nav-items a {
    
    color: #242323;
    font-size: 16.5px;
    font-weight: 500;
}

.nav-items button {

    width: 100px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    border-width: 0px;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 0.5rem;

}

/* responsive header */
@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        color: #000000
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        padding-left: 40%;
        padding-bottom: 2%;
        top: 70px;
        flex-direction: column;
        background-color: #fff;
        z-index: 1;
        width: 90%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }


    .nav-menu.active {
        left: 0;
      }
}



/* hero section */

.hero-section {
    display: flex;
    background-color: #F4F6F5;
    justify-content: space-between;
    border-radius: 59px;
    /* height: 404.7px;
    width: 100%; */
    margin: 4.152% 7.413% 0 7.413%;
    /* padding: 2% 3.5%; */
    max-height: 852px;
    
}


.slogan {
    display: flex;
    flex-direction: column;
    margin-left: 10.358%;
    margin-top: 6.702%;
    gap: 15px;
    flex: 0.4;
    margin-bottom: 8.27%;
    
}
.slogan h1{
    font-size: 96px;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase; 
    line-height: 1.2;
}

  
  
.slogan h1 .highlight1 {
    margin-left: -10px;
    display: inline-block; /* Ensure the padding is applied correctly */
    width: 464.74px; /* Set the fixed width */
    padding-left: 10px ;
    background-color: #FFFFFF;
    transform: rotate(-2deg);

    
  }

  .slogan h1 .highlight2 {
    margin-left: -13px;
    display: inline-block; /* Ensure the padding is applied correctly */
    width: 496px; /* Set the fixed width */
    padding-left: 13px ;
    background-color: #EBD96B;
    transform: rotate(-2deg);

    
  }

.slogan p {

    font-size: 32px;
    font-weight: 400px;
    color: #191818;
    text-transform: capitalize;

    
}
.slogan button {

    width: 221px;
    height: 77px;
    border-radius: 10px;
    font-size: 30px;
    text-transform: capitalize;
    margin-left: 4px;
}

.leftside-model {
    display: flex;
    justify-content: end;
    align-items: end;
    

}

.leftside-model img {
    width: 100%;
    height: 90%;
   
    
}

/* responsive hero-section */
@media (max-width: 1400px) {

    .hero-section {
        border-radius: 50px;
    }
    .slogan h1 {
        font-size: 75px;
    }

    .slogan p {
        font-size: 20px;
    }

    .slogan button {
        width: 207px;
        height: 73px;
        font-size: 28px;
    }

    leftside-model {
        padding-top: 20px;
        padding-left: 0; 
    
    }
    
    .slogan h1 .highlight1 {
        margin-left: -9.375px;
        width: 350px;
        padding-left: 9.375px ;    
    }
      .slogan h1 .highlight2 {
        margin-left: -12.18px;
        width: 370px;
        padding-left: 12.18px ;
    }
}

@media (max-width: 768px) {

    .hero-section {
        border-radius: 45px;
    }

    .slogan h1 {
        font-size: 35px;
    }

    .slogan p {
        display: none;
    }

    .slogan button {
        width: 100px;
        height: 35px;
        font-size: 13px;
    }

    .leftside-model {
        padding-top: 20px;
        padding-left: 0;
    }
    .slogan h1 .highlight1 {
        margin-left: -8px;
        width: 150px;
        padding-left: 8px ;
 
    
        
      }
      .slogan h1 .highlight2 {
        margin-left: -9px;
        width: 200px;
        padding-left: 9px ;
      
    
        
      }
}
@media (max-width: 480px) {

    .hero-section {
        border-radius: 10px;
    }
    .slogan h1 {
        font-size: 20px;
    }

    .slogan p {
        font-size: 10px;
    }

    .slogan button {
        width: 70px;
        height: 30px;
        font-size: 10px;
        border-radius: 4px;
    }

    .slogan h1 .highlight1 {
        margin-left: -5px; 
        width: 90px; 
        padding-left: 5px ;
   
    
        
    }

    .slogan h1 .highlight2 {
        margin-left: -7px;
        display: inline-block;
        width: 100px; 
        padding-left: 7px ;

    
        
    }
}

/* brand section */

.brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EBD96B;
    margin-top: 4.68%;
    gap: 57.4px;
    height: 186px;

    padding: 0 13%;
    overflow: hidden;

    
}

.brand-logo {
    height: 57px;
}

/* responsive brand section */

@media screen and (max-width: 1400px) {
    .brand {
        height: 140px;
    }

    .brand-logo {
        height: 43px;
    }
}

@media screen and (max-width: 768px) {
    .brand {
        height: 74.4px;
    }

    .brand-logo {
        height: 23px;
    }
}

@media screen and (max-width: 480px) {
    .brand {
        height: 47px;
    }

    .brand-logo {
        height: 15px;
    }
}

/* Arrival section */

.arrival {
    text-decoration: none;
    margin: 5.2% 0 0 7.8%;
    /* width: 100%;
    padding-left: 3.5%;
    padding-right: 6%; */
    /* object-fit: cover; */

}

.arrival h1 {

    margin-bottom: 9%;
    font-size: 48px;
    text-transform: uppercase; 
    font-weight: 900; 
}

.arrival .responsive-h1{
    font-size: 32px;
    font-weight: 500;
    color: #191919; 
    display:none;
}

.arrival p {
    font-size: 24px;
    color: #7F7F7F;
    font-weight: 500;
}



.arrival h2 {
    font-size: 32px;
    font-weight: 500;
    color: #191919;
}

.arrival img {
    margin-bottom: 8%;
    height:704px;
    width: 484px;
    /* object-fit: cover; */

}
.arrival .arrival-items {
  display: flex;
  flex-direction: row;
  gap:90px;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
    
}

.arrival-items .arrival-1 {
    display: flex;
    flex-direction: column;
}



.arrival-items .arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow i {
    color: #7F7F7F;
}

/* responsive arrival */
@media screen and (max-width: 1400px) {

    .arrival .arrival-items {
        gap: 65px;
    }
    .arrival img{
        height: 513px;
        width:352px;
    }
    .arrival h1 {
        font-size: 35px;
    }

    .arrival p {
        font-size: 17.5px;
    }

    .arrival h2 {
        font-size: 24px;
    }
    
}

@media screen and (max-width: 768px) {
    .arrival .arrival-items {
        gap: 35px;
    }
    .arrival img{
        height: 281px;
        width: 193px;
    }
    .arrival h1 {
        font-size: 19px;
    }

    .arrival p {
        font-size: 9.6px;
    }

    .arrival h2 {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .arrival .arrival-items {
        gap: 22px;
    }
    .arrival img{
        height: 175px;
        width: 120px;
    }
    .arrival h1 {
        font-size: 12px;
    }



    .arrival p {
        font-size: 6px;
    }

    .arrival h2 {
        font-size: 8.21px;
    }

    .arrival .responsive-h1{
        font-size: 8.21px;
        display: flex;
 
    }

    .arrival .hide{
        display:none;
    }
}

/* payday section */

.payday {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E0C340;
    margin-top: 10%;
    margin-bottom: 8%;
    /* flex-wrap: wrap; */
    width: 100%;

    
}

.payday .left-model {
    display: flex;
    height: 100%;
    width: 50%;
    margin-top: 4.5%;
}

.payday .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10.37%;
    margin-left: 7.24%;
    width: 58%;


}

.details h1 {
    font-size: 111.61px;
    text-transform: uppercase;
    font-weight: 900;
}

.details .highlight1 {
    
    display: inline-block; /* Ensure the padding is applied correctly */
    background-color: #FFFFFF; 
    transform: rotate(-2deg);
    padding-right: 2.65%;

}

.details .text {
    padding-left:2%;
    text-align: left;
    align-self: flex-start;
}

.details .script {
    font-size: 36.04px;
    font-weight: 500;
    margin-bottom: 2%;
    
}

.details .date {
    font-size: 36.04px;
    font-weight: 700;
    /* margin-bottom: 5px; */

  
}

.details .conditions {
    font-size: 36.04px;
    font-weight: 400;
    margin-bottom: 7%;
    
}

.details .payday-button {

    width: 265px;
    height: 95px;
    border-radius: 8.14px;
    font-size: 27.9px;
    font-weight: 600;
    

}
/* responsive payday section */
@media (max-width: 1440px) {
    .details h1 {
        font-size: 83px;
    }

    .details .script {
        font-size: 27px;
        
    }

    .details .date {
        font-size: 27px;
    }

    .details .conditions {
        font-size: 27px;
       
    }

    .details .payday-button {
        width: 199px;
        height: 72px;
        font-size: 21px;
        border-radius: 6.1px;
    }

    /* .details .highlight1 {
        padding-right: 15px;
    } */
}



@media (max-width: 1200px) {
    .details h1 {
        font-size: 69px;
    }

    .details .script {
        font-size: 22.5px;
    }

    .details .date {
        font-size: 22.5px; 
    }

    .details .conditions {
        font-size: 22.5px; 
    }

    .details .payday-button {
        width: 137px; 
        height: 47px;
        font-size: 17.5px;
        border-radius: 5px;
    }


}

@media screen and (max-width: 946px) {
    .details h1 {
        font-size: 40px; 
    }

    .details .script {
        font-size: 18px;
    }

    .details .date {
        font-size: 18px; 
    }

    .details .conditions {
        font-size: 18px;
    }

    .details .payday-button {
        width: 130px; 
        height: 50px;
        font-size: 16px;
    }


}

@media screen and (max-width: 670px) {
    .details h1 {
        font-size: 30px; 
    }

    .details .script {
        font-size: 12px;
    }

    .details .date {
        font-size: 12px; 
    }

    .details .conditions {
        font-size: 12px;
    }

    .details .payday-button {
        width: 90px; 
        height: 30px;
        font-size: 9px;
    }


}

@media screen and (max-width: 490px) {
    .details h1 {
        font-size: 23px; 
    }

    .details .script {
        font-size: 9px;
    }

    .details .date {
        font-size: 9px; 
    }

    .details .conditions {
        font-size: 9px;
    }

    .details .payday-button {
        width: 58px; 
        height: 19px;
        font-size: 7px;
    }


}


/* young section */

.young {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 7.8% 9% 7.8%;
}



.young h1{
    
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 6.5%;
}

.young-items {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between; 
    overflow-x: scroll;
    scrollbar-width: none;
}

.young-1 img {
    width: 520px;

}

.young-text h2 {
    font-size: 24px;
    font-weight: 500;
}

.young-text p {
    font-size: 18px;
    color: #7F7F7F;
    font-weight: 500;
}

.young-text {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px;

}

.young-text i{
    color: #7F7F7F;
    font-size: 18px;

}

/* responsive young section */
@media screen and (max-width: 1024px) {
    .young-1 img {
        width: 432px;
    }

    .young h1 {
        font-size: 28px;
    }

    .young-text h2 {
        font-size: 17px;
    }

    .young-text p {
        font-size: 12px;
    }


}

@media screen and (max-width: 768px) {
    .young-1 img{
        width: 350px;
    }

    .young h1 {
        font-size: 22px;
    }

    .young-text h2 {
        font-size: 15px;
    }

    .young-text p {
        font-size: 10px;
    }


}

@media screen and (max-width: 480px) {
    .young-1 img{
        width: 250px;
    }

    .young h1 {
        font-size: 16px;
    }

    .young-text h2 {
        font-size: 10px;
    }

    .young-text p {
        font-size: 7px;
    }
    
}

/* download section */

.download-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 11.41%;
    
    
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 35%; */
    
}

.download-app h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 11px;
    
}

.download-app p {
    font-size: 18x;
    font-weight: 500;
    margin-bottom: 17px;
}
.app{
    display: flex;
    height: 40px;
    width: 250px;
}

.mobile-app {
    max-width: 50%;
    max-height: 100%;
}

/* responsive download section */
@media (max-width: 768px) {
    

    .download-app h1 {
        font-size: 25px;
    }

    .download-app p {
        font-size: 13px;
    }

    .app {
        width: 200px;
    }

    .mobile-app {
        display: none;
    }
}

@media (max-width: 480px) {
    
    .download-app h1 {
        font-size: 18px;
    }

    .download-app p {
        font-size: 9px;
    }

    .app {
        width: 200px;
    }
}

/* email section */

.email{
    background-color: #E5C643;
    margin-top: 55px;
    color: #FFFFFF;
}

.email .promo {
    text-align: center;
    padding: 40px 125px;

   

}

.promo h1 {
    font-size: 41px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 7px;
}

.promo p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.email-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    align-items: center;
    border-radius: 10px;
    padding: 0.5%;
    background-color: #FFFFFF;
   
  }

.email-input {
    border: none;
    flex: 1;
    padding: 0 10px;
}
  
.email-input::placeholder {
    color: #767676;
}
  
.send-button {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px;

}

/* responsive email section */
@media (max-width: 768px) {
    .email .promo {
        padding: 30px 60px;
    }

    .promo h1 {
        font-size: 22px;
    }

    .promo p {
        font-size: 14px;
    }

    /* .email-container {
        max-width: 250px;
    } */

    .send-button {
        padding: 8px 16px;
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    .email .promo {
        padding: 20px 30px;
    }

    .promo h1 {
        font-size: 18px;
    }

    .promo p {
        font-size: 12px;
    }

    /* .email-container {
        width: 100%;
    } */

    .send-button {
        padding: 6px 12px;
        font-size: 10px;
    }
}

/* footer section */

.footer {
    background-color:#000000;
    padding: 60px 50px;
    
    font-weight: 400;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    
    
  }
  
  /* footer Left Section */
  .footer-left {
    max-width: 300px;
    
  }
  
  .footer-logo {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-family: "Roboto", serif !important;
  }
  
  .footer-description {
    font-size: 18px;
    margin-bottom: 12px;
    color: #8E8E8E;
  }
  
  /* footer social media */
  .social-icons {
    display: flex;
    gap: 10px;

  }

  
  
  .icon {
    /* display: inline-block; */
    width: 39px;
    height: 39px;
    border-radius: 11.25px;
    background-color: #E5C643;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    
  }
  

  /* footer links section */
  .footer-links {
    display: flex;
    gap: 88px;

  }
  
  .link-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #D9D9D9;
    font-family: "Roboto", serif !important;
  }
  
  .link-section ul {
    list-style: none;
    padding: 0;
  }
  
  .link-section ul li {
    margin-bottom: 8px;
  }
  
  .link-section ul li a {
    color: #8E8E8E;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    
  }
  
  .link-section ul li a:hover {
    text-decoration: underline;
  }

/* responsive footer section */
@media screen and (max-width: 768px) {
    .footer-container {
      display: flex;
      flex-direction: column;
    }
  
    .footer-links {
      display: flex;
      flex-direction: column;
      margin-top: 56px;
      gap: 22px;
    }

    .link-section h3 {
      font-size: 16px;
    }

    .link-section ul li a {
      font-size: 16px;
    }

    .footer-left {
      margin-bottom: 40px;
    }

    .social-icons {
      gap: 20px;
    }

    .icon {
      width: 30px;
      height: 30px;
      border-radius: 8.5px;
    }

    .footer-logo {
      font-size: 25px;
    }

    .footer-description {
      font-size: 16px;
    }
    
}