* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f00e0e; */
    font-family: "Poppins", serif;
    /* width: 912px; */
    width: 100%;
    
}

a {
    text-decoration: none;
}

button {
    background-color: #000000; 
    color: #FEFEFE;
    text-transform: uppercase;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    padding: 23px 48px;
    
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
}

.nav-logo img {
    width: 180px;

}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    text-transform: uppercase;
}

.nav-items a {
    color: #242323;
    font-size: 15.45px;
}

.nav-items button {

    width: 85px;
    height: 35px;
    border-radius: 6px;
    font-size: 16.4px;
    font-weight: 600;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 0.5rem;

}

/* responsive header */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        padding-left: 40%;
        padding-bottom: 2%;
        top: 70px;
        flex-direction: column;
        background-color: #fff;
        z-index: 1;
        width: 90%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }
    .nav-menu.active {
        left: 0;
      }
}



/* hero section */

.hero-section {
    display: flex;
    background-color: #F4F6F5;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    /* height: 404.7px;
    width: 100%; */
    margin: 2% 3.5% 0 3.5%;
    padding: 2% 3.5%;
    flex-wrap: wrap
    
}


.slogan {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    margin-top: 30px;
    width: 32%;
    gap: 15px;
    flex: 1 1 32%;
    
}
.slogan h1{
    font-size: 45px;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase; 
    line-height: 1.2;
}

  
  
.slogan h1 .highlight1 {
    margin-left: -10px;
    display: inline-block; /* Ensure the padding is applied correctly */
    width: 200px; /* Set the fixed width */
    padding-left: 10px ;
    background-color: #FFFFFF;
    transform: rotate(-2deg);

    
  }

  .slogan h1 .highlight2 {
    margin-left: -13px;
    display: inline-block; /* Ensure the padding is applied correctly */
    width: 245px; /* Set the fixed width */
    padding-left: 13px ;
    background-color: #EBD96B;
    transform: rotate(-2deg);

    
  }

.slogan p {

    font-size: 15.2px;
    color: #191818;
    text-transform: capitalize;

    
}
.slogan button {

    width: 105px;
    height: 39px;
    border-radius: 4.75px;
    font-size: 14.25px;
    text-transform: capitalize;
    margin-left: 4px;
}

.leftside-model {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 68px 0 0 81px;
  }
  
  .leftside-model img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* responsive hero-section */

@media (max-width: 768px) {
    .slogan h1 {
        font-size: 35px;
    }

    .slogan p {
        display: none;
    }

    .slogan button {
        width: 100px;
        height: 35px;
        font-size: 13px;
    }

    .leftside-model {
        padding-top: 20px;
        padding-left: 0;
    }
    .slogan h1 .highlight1 {
        margin-left: -8px;
        width: 150px;
        padding-left: 8px ;
 
    
        
      }
      .slogan h1 .highlight2 {
        margin-left: -9px;
        width: 200px;
        padding-left: 9px ;
      
    
        
      }
}
@media (max-width: 480px) {
    .slogan h1 {
        font-size: 28px;
    }

    .slogan p {
        font-size: 12px;
    }

    .slogan button {
        width: 90px;
        height: 30px;
        font-size: 12px;
    }

    .slogan h1 .highlight1 {
        margin-left: -5px; 
        width: 90px; 
        padding-left: 5px ;
   
    
        
    }

    .slogan h1 .highlight2 {
        margin-left: -7px;
        display: inline-block;
        width: 125px; 
        padding-left: 7px ;

    
        
    }
}

/* brand section */

.brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EBD96B;
    margin-top: 36px;
    gap: 57.4px;
    height: 82px;
    overflow: hidden;
    
}

.brand-logo {
    height: 34px;
}

/* Arrival section */

.arrival {
    text-decoration: none;
    margin-top: 3%;
    width: 100%;
    padding-left: 3.5%;
    padding-right: 6%;
    object-fit: cover;

}

.arrival h1 {

    margin-bottom: 50px;
    font-size: 22.8px;
    text-transform: uppercase; 
    font-weight: 900; 
}

.arrival p {
    font-size: 11.4px;
    color: #7F7F7F;
    font-weight: 500;
}



.arrival h2 {
    font-size: 15.2px;
    font-weight: 500;
    color: #191919;
}

.arrival img {
    margin-bottom: 14px;
    object-fit: cover;

}
.arrival .arrival-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
    
}

.arrival-items .arrival-1 {
    display: flex;
    flex-direction: column;
}



.arrival-items .arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow i {
    color: #7F7F7F;
}

/* responsive arrival */

@media (max-width: 768px) {

    .arrival h1 {
        font-size: 20px;
    }

    .arrival p {
        font-size: 10px;
    }

    .arrival h2 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .arrival h1 {
        font-size: 16px;
    }

    .arrival p {
        font-size: 9px;
    }

    .arrival h2 {
        font-size: 12px;
    }
}

/* payday section */

.payday {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E0C340;
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 5%;
    /* flex-wrap: wrap; */
    width: 100%;

    
}

.payday .left-model {
    display: flex;
    height: 100%;
    width: 50%;
}

.payday .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 8%;
    width: 58%;


}

.details h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
}

.details .highlight1 {
    
    display: inline-block; /* Ensure the padding is applied correctly */
    background-color: #FFFFFF; 
    transform: rotate(-2deg);
    padding-right: 20px;

}

.details .text {
    padding-left:15px;
    text-align: left;
    align-self: flex-start;
}

.details .script {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    
}

.details .date {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 5px;

  
}

.details .conditions {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    
}

.details .payday-button {

    width: 140px;
    height: 50px;
    border-radius: 4.4px;
    font-size: 14px;
    font-weight: 600;
    

}
/* responsive payday section */
@media (max-width: 768px) {
    .details h1 {
        font-size: 41px;
    }

    .details .script {
        font-size: 10px;
    }

    .details .date {
        font-size: 11px; 
    }

    .details .conditions {
        font-size: 10px; 
    }

    .details .payday-button {
        width: 110px; 
        height: 35px;
        font-size: 10px;
    }

    .details .highlight1 {
        padding-right: 10px;
    }
}

@media (max-width: 480px) {
    .details h1 {
        font-size: 28px; 
    }

    .details .script {
        font-size: 10px;
    }

    .details .date {
        font-size: 10px; 
    }

    .details .conditions {
        font-size: 9px;
    }

    .details .payday-button {
        width: 100px; 
        height: 35px;
        font-size: 10px;
    }

    .details .highlight1 {
        padding-right: 7px;
    }
}

/* young section */

.young {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 55px; 
}



.young h1{
    padding-left: 50px;
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 28px;
}

.young-items {
    display: flex;
    padding-left: 80px;
    align-items: center;
    gap: 50px;
}

.young-text h2 {
    font-size: 18px;
    font-weight: 500;
}

.young-text p {
    font-size: 13px;
    color: #7F7F7F;
    font-weight: 500;
}

.young-text {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px;
}

.young-text i{
    color: #7F7F7F;

}

/* download section */

.download-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    
}

.download-app {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}

.download-app h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 11px;
}

.download-app p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 17px;
}
.app{
    display: flex;
    height: 40px;
    width: 250px;
}

.mobile-app {
    max-width: 50%;
    max-height: 100%;
}

/* email section */

.email{
    background-color: #E5C643;
    margin-top: 55px;
}

.email .promo {
    text-align: center;
    padding: 40px 125px;

   

}

.promo h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 7px;
}

.promo p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.email-container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left:180px;
    margin-right: 180px;
    overflow: hidden;
  }

.email-input {
    border: none;
    padding: 11px;
    flex: 1;
}
  
.email-input::placeholder {
    color: #767676;
}
  
.send-button {
    padding: 10px 20px;
    font-size: 12px;

}

/* footer section */

.footer {
    background-color:#000000;
    padding: 60px 50px;
    font-family: "Roboto", serif !important;
    font-weight: 400;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    
  }
  
  /* footer Left Section */
  .footer-left {
    max-width: 300px;
    
  }
  
  .footer-logo {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .footer-description {
    font-size: 12px;
    margin-bottom: 10px;
    color: #8E8E8E;
  }
  
  /* footer social media */
  .social-icons {
    display: flex;
    gap: 10px;

  }
  
  .icon {
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #E5C643;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  

  /* footer links section */
  .footer-links {
    display: flex;
    gap: 30px;

  }
  
  .link-section h3 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #D9D9D9;
  }
  
  .link-section ul {
    list-style: none;
    padding: 0;
  }
  
  .link-section ul li {
    margin-bottom: 8px;
  }
  
  .link-section ul li a {
    color: #8E8E8E;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
  }
  
  .link-section ul li a:hover {
    text-decoration: underline;
  }